<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Your profile got updated.
      your email is: <%= @user.email %>.
      your name is: <%= @user.name %>.
      your mobile is: <%= @user.mobile %>.
      
      If you haven't done this action, contact us.
      <br>
    </p>
  </body>
</html>